@page
@model CiudadanosSanos.Pages.Hospitalizacions.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hospitalizacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hospitalizacion.Nombres" class="control-label"></label>
                <input asp-for="Hospitalizacion.Nombres" class="form-control" />
                <span asp-validation-for="Hospitalizacion.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hospitalizacion.Descripcion" class="control-label"></label>
                <input asp-for="Hospitalizacion.Descripcion" class="form-control" />
                <span asp-validation-for="Hospitalizacion.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
